<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Basic Layout (a CSS example)</title>
    <link rel="stylesheet" href="./css/master.css" />
  </head>
  <body>
    <header id="main-header">
      <h1>CSS Layout Example</h1>
    </header>
    <nav>
      <ul class="wrapper">
        <li> <a href="#"> Link 1 </a> </li>
        <li> <a href="#"> Link 2 </a> </li>
        <li> <a href="#"> Link 3 </a> </li>
        <li> <a href="#"> Link 4 </a> </li>
      </ul>
    </nav>
    <section class="wrapper" id="main-content">
      <header class="center">
        <h2>Contenido</h2>
      </header>
      <article>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Nulla sagittis vulputate libero a posuere.
          Interdum et malesuada fames ac ante ipsum primis in faucibus.
          Donec dapibus est enim.
          Pellentesque habitant morbi tristique senectus et netus et malesuada
          fames ac turpis egestas. Curabitur pellentesque lorem quis ante
          tempus tempus. Maecenas consectetur ipsum a dui congue, sit amet
          maximus nibh iaculis. Nulla sit amet vehicula nunc, eu bibendum tellus.
          Duis in malesuada ipsum.
        </p>

        <p>
          Mauris libero enim, finibus et sagittis vitae, auctor vitae nunc.
          Ut non sollicitudin nulla, nec tristique ipsum.
          Pellentesque porttitor massa nec diam ultricies,
          eu sollicitudin orci luctus. Pellentesque sodales,
          leo eu gravida semper, urna sem imperdiet leo,
          eget sollicitudin elit nisi at nunc. Pellentesque elit orci,
          ullamcorper ac ipsum ut, aliquam sagittis odio. Pellentesque id
          risus nibh. Fusce interdum massa a tellus lobortis fringilla.
          Quisque et vulputate magna. Maecenas laoreet tristique rutrum.
        </p>
      </article>
      <article>
        <p>
          Fusce elementum aliquam ex eu bibendum. Donec nec orci ornare,
          facilisis libero in, consequat nisl. Vivamus vulputate posuere
          purus et viverra. In maximus non nulla gravida ullamcorper.
          Cras at nulla eu lectus ornare feugiat id sed neque.
          Aliquam vel eros sed dui bibendum fermentum.
          Proin iaculis et nulla at lobortis. Etiam eu laoreet magna.
          Nulla facilisi. Integer mollis nisi lorem, at rhoncus est
          maximus sit amet. Suspendisse pretium nisi non aliquet semper.
          Duis a cursus mauris, et varius mauris. Praesent id suscipit dui.
        </p>

        <p>
          Quisque at pretium orci. Integer volutpat, odio ac lobortis cursus,
          augue ipsum consequat metus, et scelerisque nulla ipsum at diam.
          Donec ac tempus nisi, quis vehicula ex.
          Aenean tincidunt finibus pretium. Sed sit amet velit vitae ligula
          interdum convallis id sit amet tortor. Nulla rhoncus elit a lectus
          tincidunt consectetur. Ut libero mi, venenatis condimentum vehicula
          quis, cursus ac risus. Mauris a laoreet nibh, id luctus enim.
          Aenean elit nibh, blandit in sagittis at, ullamcorper vitae mauris.
        </p>
      </article>
    </section>
    <footer class="">
      <p>Desarrollo de Aplicaciones Web AD2019 @ ITESM QRO</p>
    </footer>
  </body>
</html>
